<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleSheet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap">
    <title>GitHub User Search</title>
</head>
<body>

<div id="app">
    <div class="search-bar-container">
        <div class="search-bar">
            <div class="search-icon">
                <img src="images/icon-search.svg" alt="Search icon" class="icon">
            </div>
            <input class="font" type="text" v-model="username" placeholder="Search GitHub username...">
            <button class="font" @click="searchUser">Search</button>
        </div>
    </div>

    <div class="app-container">
        <!-- Display user avatar, name, join date, profile name, and bio -->
        <img :src="user ? user.avatar_url : ''" alt="User Avatar" class="circular-image" v-if="user">
        <h1 class="name" v-if="user">{{ user.name || user.login }}</h1>
        <h3 class="joined" v-if="user">Joined: {{ formatDate(user.created_at) || 'Join date not available' }}</h3>
        <h4 class="profile-name" v-if="user">@{{ user.login || 'User not available'}}</h4>
        <h4 class="bio" v-if="user">{{ user.bio || 'Bio not available' }}</h4>

        <!-- Display error message if an error occurs -->
        <div class="error-message" v-if="error">{{ errorMessage }}</div>

        <div class="inner-container-dark" v-if="user">
            <div class="column">
                <h4>Repos</h4>
                <p class="numeric-field">{{ user.public_repos }}</p>
            </div>
            <div class="column">
                <h4>Followers</h4>
                <p class="numeric-field">{{ user.followers }}</p>
            </div>
            <div class="column">
                <h4>Following</h4>
                <p class="numeric-field">{{ user.following }}</p>
            </div>
        </div>
    </div>
</div>

<script type="module" src="https://unpkg.com/vue@3.2.7/dist/vue.esm-browser.js"></script>
<script type="module" src="github-user-info.js"></script>
<script type="module" src="script.js"></script>
</body>
</html>
