/* Set basic styles for the entire page */
body {
    background-color: #141d2f;
    color: #ffffff;
    font-family: 'space mono', monospace;
    font-size: 15px;
    line-height: 25px;
    margin: 0;
}

/* Apply common styles to headings (h1, h2, h3, h4) */
h1, h2, h3, h4 {
    color: #ffffff;
    font-family: 'space mono', monospace;
    line-height: 1.5;
    margin: 0;
}

/* Customize h1 */
h1 {
    font-size: 26px;
}

/* Customize h2 */
h2 {
    font-size: 22px;
}

/* Customize h3 */
h3 {
    font-size: 16px;
}

/* Customize h4 */
h4 {
    font-size: 13px;
}

/* Apply 'space mono' font to elements with class '.font' */
.font {
    font-family: 'space mono', monospace;
}

/* Style the search bar container */
.search-bar-container {
    position: relative;
    margin-top: 120px;
}

/* Style the search bar itself */
.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 660px;
    background-color: #1e2a47;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

/* Style the search input field */
.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #1e2a47;
    color: #ffffff;
}

/* Style the search button */
.search-bar button {
    width: 15%;
    padding: 10px;
    background-color: #0977ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

/* Add padding to the search icon */
.search-icon {
    padding: 10px 0px 0px 10px;
}

/* Style the app container */
.app-container {
    width: 600px;
    height: 300px;
    background-color: #1e2a47;
    padding: 40px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

/* Style the dark inner container */
.inner-container-dark {
    width: 400px;
    height: 70px;
    background-color: #141d2f;
    padding: 5px;
    border-radius: 8px;
    position: absolute;
    top: 45%;
    left: 56%;
    transform: translateX(-50%);
}

/* Style the circular image */
.circular-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #ffffff;
}

/* Style the name */
.name {
    position: absolute;
    top: 30px;
    left: 170px;
}

/* Style the joined date */
.joined {
    position: absolute;
    top: 40px;
    left: 420px;
}

/* Style the profile name */
.profile-name {
    position: absolute;
    top: 80px;
    left: 175px;
    color: #0977ff;
}

/* Style the bio */
.bio {
    position: absolute;
    top: 120px;
    left: 175px;
    color: #ffffff;
}

/* Define column styles for layout */
.column {
    width: 26%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 2%;
}

/* Style h4 elements within columns */
.column h4 {
    color: #ffffff;
    margin: 10px 0;
}

/* Style numeric fields */
.numeric-field {
    color: #ffffff;
    margin: 0;
}

/* Style links container */
.links-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 0px 40px 10px 0px;
}

/* Style link rows */
.link-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px; /* Adjust as needed for spacing between rows */

}

/* Style link pairs */
.link-pair {
    display: flex;
    align-items: center;
}

/* Style links */
.link {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    transition: text-decoration 0.3s ease;
    padding: 10px 0px 10px 40px;
}

.company-link {
    padding-right: 125px;
}

/* Style the text part of the link */
.link-text {
    padding-left: 0px;
}

/* Style icons within links */
.link .icon {
    margin-right: 15px;
}

/* Style links on hover */
.link:hover .link-text {
    text-decoration: underline;
}

/* Style unavailable links with reduced opacity */
.link-unavailable {
    color: #ffffff;
    opacity: 0.6;
}
